@font-face {
  font-family: Norse-Bold;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0px
}
:root {
  font-size: 16px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.whole {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
  align-items: stretch;
}

.right-side {
  flex: 1 1 70%;
  min-width: 70vw;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left-side {
  flex: 1 1 30%;
  min-width: 30vw;
  background-image: url("./imgs/background-img.jpg");
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  align-items: stretch;
}

.form {
  background-color: white;
}

.right-side div.form {
  min-height: 30vh;
  -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.60); 
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.60);
}

.logo {
  position: relative;
  top: -18vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo p {
  color: white;
  align-self: center;
  font-size: 6rem;
  font-family: Norse-Bold;
}
.sell p {
  margin: 20px;
  font-size: 2rem;
}

.sell {
  width: 70%;
  margin: 40px;
}

img {
  max-height: 13vh;
  width: auto;
  margin: 10px;
}

.artist-info {
  align-self: center;
  position: absolute;
  bottom:20px;
}

.art {
  color: white;
  font-size: 0.9rem;
}

.form {
  display: flex;
  align-items: center;
}

.col {
  margin:40px;
  width: 50%;
}

li {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: stretch;
}

form {
  width: 70%;
}